# Build outputs
**/bin/
**/obj/

# User-specific files
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Logs
**/*.log

# VS Code
.vscode/

# OS
.DS_Store

# Node
node_modules/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/.terraform.lock.hcl
**/crash.log
**/crash.*.log

# Coverage
**/TestResults/
**/*.coverage
**/*.coveragexml

# Local secrets
**/secrets.json
